{% extends 'base.html' %}
{% block title %}
用户注册
{% endblock %}

{% block styles %}
<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <style>
    #container{
        padding-top: 20px;
        width: 1000px;
        height: 830px;
        margin: 0 auto;
    }
     #myfoot{
        border-top: 1px solid darkgreen;
        font-size: 15px;
        text-align: center;
        color: lightblue;
    }
    </style>
{% endblock %}

{% block newcontent %}
    <div id="container">
    <h1>用户注册</h1>
    <form class="form-horizontal" action="{{ url_for('user.register') }}" method="post">
  <div class="form-group">
    <label for="inputUsername" class="col-md-2 control-label">用户名</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="inputUsername" placeholder="请输入用户名" name="username">
    </div>
  </div>
        <div class="form-group">
    <label for="inputPassword" class="col-md-2 control-label">密码</label>
    <div class="col-md-4">
      <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码" name="password">
    </div>
  </div>
        <div class="form-group">
    <label for="inputConfirm" class="col-md-2 control-label">确认密码</label>
    <div class="col-md-4">
      <input type="password" class="form-control" id="inputConfirm" placeholder="请再次输入密码" name="repassword">
    </div>
  </div>
        <div class="form-group">
    <label for="inputEmail3" class="col-md-2 control-label">邮箱</label>
    <div class="col-md-4">
      <input type="email" class="form-control" id="inputEmail3" placeholder="请输入邮箱" name="email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPhone" class="col-md-2 control-label">手机号</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="inputPhone" placeholder="请输入手机号" name="phone"><span></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">注册</button>
        <button type="submit" class="btn btn-default">重置</button>
    </div>
  </div>
</form>
    </div>
{% endblock %}

{#添加js脚本#}
{% block scripts %}
    {{ super() }}
    <script>
    $('#inputPhone').blur(function () {
        let phone = $(this).val();
        let span_ele = $(this).next('span');
        if (phone.length == 11){
            span_ele.text('');
             $.get('{{ url_for('user.check_phone') }}', {phone: phone}, function(data){
             console.log(data);
             if (data.code != 200){
                  span_ele.css({"color": "#ff0011", "font-size": "12px"});
                  span_ele.text(data.msg);
             }
        })
        }
       else {
           span_ele.css({"color": "#ff0011", "font-size": "12px"});
            span_ele.text('手机格式错误')
        }

    })
    </script>

{% endblock %}